---
layout: index.liquid
---
{% for post in collections.posts.pages %}
    <div class="recipe-listing">
        <a href={{ post.permalink }}>
            <img class="slit" src="./img/{{ post.data.image }}" alt="{{ post.title }} illustrative image" />
            <div class="listing-brand-cover"></div>
            <p class="recipe-listing-name">{{ post.title }}</p>
        </a>
    </div>
{% endfor %}
