:root {
  --primary: #241D1D;
  --secondary: #fcda7b;
  --tertiary: #e19453;
  --qqq: #a2824c;
  --ppp: #53524f;
  --edge-border: 3px solid var(--primary);
}

.content-custom {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  height: 100%;
  max-width: 40em;
  margin-top: 4em;
  margin-bottom: 2em;
  position: sticky;
  margin-left: auto;
  margin-right: auto;
  vertical-align: bottom;
  border-top: var(--edge-border);
}

.recipe-listing {
  margin-top: 1em;
}

.recipe-listing {
  position: relative;
  margin-top: 0.2em;
}

.recipe-listing-name {
  bottom: 0.05em;
  left: 16px;
  position: absolute;
  text-align: left;
  font-weight: bolder;
  color: white;
  text-shadow: 1px 1px 2px black;
}

html {
  font-family: Verdana, sans-serif;
  background-color: white;
  color: var(--primary);
}

:is(h1, h2, h3, h4, h5, h6) {
  color: var(--primary);
}

a:link {
  color: var(--primary);
}

a:visited {
  color: var(--primary);
}

img.slit {
  object-fit: cover;
  max-height: 5em;
  width: 100%;
}

img {
  max-width: 100%;
}

header > .pure-menu {
  background-color: var(--secondary);
  border-bottom: var(--edge-border);
}

.pure-menu > .pure-menu-list > .pure-menu-item > a {
  background-color: var(--secondary);
  padding: 0.5em;
}

.pure-menu > .pure-menu-list > .pure-menu-item > a:hover {
  background-color: var(--primary);
  color: var(--secondary);
}
