.content-custom {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    height: 100%;
    max-width: 40em;
    margin-top: 10em;
    position: sticky;
    margin-left: auto;
    margin-right: auto;
    vertical-align: bottom;
}

.recipe-listing {
    margin-top: 1em
}

html {
    font-family: Verdana, sans-serif;
    background-color: #ffffff;
    color: #1A1818;
}

:is(h1, h2, h3, h4, h5, h6) {
    color: #872A32;
}

a:link {
    color: #3A8799;
}

a:visited {
    color: #2A3A3B;
}

img.slit {
    object-fit: cover;
    max-height: 5em;
    width: 100%;
}

img {
    max-width: 100%;
}