<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="2D0B11CC95B046DABDAB9A5BBE9C3035D2DB1D7036E644ACBB9E00B7C639F3F6" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css" />
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Sjolander's Recipes</title>
  </head>
  <body>
    <header>
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a class="pure-menu-link" href="../index.html">
              &#x1f3e0 Hjem
            </a>
          </li>
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" class="pure-menu-link">
              &#x1f4da Oppskrifter
            </a>
            <ul class="pure-menu-children">
              {% for post in collections.posts.pages %}
              <li class="pure-menu-item">
                <a class="pure-menu-link" href="../{{ post.permalink }}">{{ post.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </header>
    <div class="content-wrapper">
      <div class="content is-center content-custom">
        {{ page.content }}
      </div>
    </div>
    <footer>
      <div class="footer">
        Placeholder Image by <a href="https://pixabay.com/users/congerdesign-509903/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5204352">congerdesign</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5204352">Pixabay</a>
      </div>
    </footer>
  </body>
</html>
