<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="2D0B11CC95B046DABDAB9A5BBE9C3035D2DB1D7036E644ACBB9E00B7C639F3F6" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="content-wrapper">
      <div class="content is-center content-custom">
        <img src="{{ page.data.image }}" alt="{{ page.title }} illustrative image" />
        {{ page.content }}
      </div>
    </div>
    <div class="footer">
      Placeholder Image by <a href="https://pixabay.com/users/congerdesign-509903/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5204352">congerdesign</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5204352">Pixabay</a>
    </div>
  </body>
</html>
